*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    font-family: 'SF';
    font-weight: 200;
    overflow: hidden;
}
ul{
    list-style-type: none;
}
button, input{
    background: inherit;
    color: white;
    outline: none;
    border: none;
}
button{
    cursor: pointer;
}
.clock > .wrapper-logo > span{
    color: white;
    font-size: 4rem;
    position: absolute;
    top: 1.5rem;
}
.clock-wrapper{
    position: relative;
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    text-align: center;
    user-select: none;
}
.clock > .time{
    margin-bottom: 4rem;
    font-size: 8rem;
    color: white;
    font-family: 'SF';
    font-weight: 300;
}
.clock > .date{
    font-size: 3rem;
    color: white;
}
.todo-list__wrapper{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 450px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 -2px 10px -2px rgb(26, 26, 26);
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
    z-index: 2;
}
.todo-list__hide{
    transform: translateX(460px);
    z-index: -3;
    -webkit-transform: translateX(460px);
    -moz-transform: translateX(460px);
    -ms-transform: translateX(460px);
    -o-transform: translateX(460px);
}
.button__open-list{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.6rem;
}
.todo-list__wrapper .title{
    margin: 0 auto;
}
.todo-list__wrapper .back{
    position: absolute;
    bottom: 0;
    left: 1rem;
    font-size: 1.8rem;
    color: white;
    font-weight: 300;
}
.todo-list__header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1rem;
    position: relative;
}
.todo-list{
    flex-grow: 3;
}
.todo-list__button-create{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.todo-list__button-create > span{
    height: 28px;
}